ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", KERNEL=="ttyUSB*", MODE="0666", IMPORT{program}="/home/midas/aaronTests/read_bk_serial.py %k", SYMLINK+="bk$env{bknum}"

