{% extends "layout.html" %}
{% block body %}
<b><font color="red">invalid file</font></b>
{% endblock body %}
{% block foot %}
<br><br>
try another file
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='sipmgrid.css') }}">
<form action="/preview" method=post enctype=multipart/form-data>
	<span class="btn btn-default btn-file">
	load gains from file <input type="file" name=file>
	</span>
	<input class="btn btn-success" type=submit value=preview>
</form>
{% endblock foot %}
