{% extends "layout.html" %} {% block moretitle %} gains {% endblock %} {% block body %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='sipmgrid.css') }}">
</script>
<b>set all gains:</b>
<input type=text id="setAllGains" size="2"></input>
<br>
<br> {% for sipmnumber in sipm_numbers %}
<div class="xtalbox">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				{% if present_sipms[sipmnumber] %}
				<a href={{ "sipm" ~ sipmnumber}}>SiPM {{serials[sipmnumber]}}</a>
				<br>
				<txt id={{ "sipm" ~ sipmnumber}}></txt>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %} {% endblock body %} {% block foot %}
<button class="btn btn-success" id="downloadGains">download gains to file</button>
<br>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='sipmgrid.css') }}">
<br>
<form action={{ "/calo"~calo_num~"/preview"}} method=post enctype=multipart/form-data>
	<span class="btn btn-default">
	load gains from file <input type="file" name=file>
	</span>
	<input class="btn btn-success" type=submit value=preview>
</form>
{% endblock foot %}
{% block morescripts %}
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='gaingrid.js')}}"></script>
{% endblock morescripts %}