{% extends "layout.html" %}
{% block body %}	
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='sipmgrid.css') }}">
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='gaingrid.js')}}">	
</script>
<h2 align="center"> <font color="red"> gains </font></h2>
<b>set all gains:</b> <input type=text id="setAllGains" size="2"></input>
<br>
{% for sipmnumber in sipm_numbers %}
<div class="xtalbox">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				{% if present_sipms[sipmnumber] %}
					<a href={{"sipm" ~ sipmnumber}}>SiPM {{sipmnumber}}</a> <br>
					<txt id={{"sipm" ~ sipmnumber}}></txt>		
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock body %}