<!DOCTYPE HTML>
<html>

<head>
  <title>Silicon Photomultiplometer</title>
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
</script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<div class=page>
  <div class="page-header">
    <h1>Calo <calonum>{{calo_num}}</calonum>{% block moretitle %}{% endblock %}</h1>
  </div>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="font-size: 24px !important;">SiPMometer</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="{{url_for('temps', calo_num=calo_num)}}">temps</a></li>
          <li><a href="{{url_for('gain_grid', calo_num=calo_num)}}">gains</a></li>
          <li><a href="{{url_for('bkcontrols', calo_num=calo_num)}}">bkcontrols</a></li>
          <li><a href="{{url_for('gaintable', calo_num=calo_num)}}">gaintable</a></li>          
        </ul>

        <ul class="nav navbar-nav navbar-right">
         <form class="navbar-form navbar-left">     
          <a id="reload" href={{ "/calo"~calo_num~"/reload"}} class="btn btn-default">reload</a>
        </form>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Calo<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for i in range(23,25) %}
            <li><a href="#" id={{ "calo" ~i }}> Calo {{i}} </a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>
{% block body %}{% endblock %} {% block foot %}{% endblock %}
<br></br>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='layout.js')}}"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% block morescripts %}{% endblock %}
</html>
