{% extends "layout.html" %}
{% block body %}	
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='sipmgrid.css') }}">
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='preview.js')}}">
</script>
<h2 align="center"> <font color="blue"> gain preview </font></h2>
<p align="center">{{filename}}</p>
{% for sipmnumber in sipm_numbers %}
<div class="xtalbox">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				{% if present_sipms[sipmnumber] %}
					<b>SiPM {{sipmnumber}}</b> <br>
					<font id={{"sipm" ~ sipmnumber}} color="blue">{{gains[sipmnumber]}}</font>		
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock body %}
{% block foot %}
<button class="btn btn-success" id="accept">accept and submit</button>
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='sipmgrid.css') }}">
<form action={{ "/calo"~calo_num~"/preview"}} method=post enctype=multipart/form-data>
    <span class="btn btn-default">
    try another file<input type="file" name=file>
    </span>
    <input class="btn btn-success" type=submit value=preview>
</form>
{% endblock foot %}
{% block morescripts %}
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='preview.js')}}"></script>preview
{% endblock morescripts %}