{% extends "layout.html" %}
{% block body %}	
<h2 align="center"> <font color="red"> SiPM {{serial}} </font></h2>
<h3 align="center"> Crystal Position <txt id="sipmnum"> {{num}}</txt></h3>
<br>
</script>
New setting: <input type=text id="newSetting" size="2"></input>
<br><br>
Current gain setting: <b id="gainSetting"></b><br>
<br>
Current temperature: <b id="temp"></b><br>
<br>
<br><br>
{% if num > 0 %}
<a href="{{url_for('sipm_graph_next', sipm_num=num, calo_num=calo_num, next_str='prev')}}">prev</a>
{% endif %}
{% if num < 53 %}
<a href="{{url_for('sipm_graph_next', sipm_num=num, calo_num=calo_num, next_str='next')}}">next</a>
{% endif %}
{% endblock body %}
{% block morescripts %}
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='singlesipm.js')}}"></script>
{% endblock morescripts %}


