{% extends "layout.html" %}
{% block moretitle %} temperatures {% endblock %}
{% block body %}	
<link rel=stylesheet type=text/css 
href="{{ url_for('static', filename='sipmgrid.css') }}">
<br>
{% for sipmnumber in sipm_numbers %}
<div class="xtalbox">
	<div class="content">
		<div class="table">
			<div class="table-cell">
				{% if present_sipms[sipmnumber] %}
				<a href={{"sipm" ~ sipmnumber}}>SiPM {{serials[sipmnumber]}}</a> <br>
				<txt id={{"sipm" ~ sipmnumber}}></txt>	
				{% endif %}	
			</div>
		</div>
	</div>
</div>
{% endfor %}
{% endblock body %}
{% block morescripts %}
<script type="text/javascript" charset="utf-8" src="{{url_for('static', filename='grid.js')}}"></script>
{% endblock morescripts %}